<!DOCTYPE html>
<html lang="zh">
    <head>
        <meta charset="utf-8" />
        <title>Wavephp框架wiki - 添加</title>
        <link rel="stylesheet" href="{%$baseUrl%}/resouce/css/style.css" />
        <link rel="stylesheet" href="{%$baseUrl%}/resouce/css/editormd.css" />
        <link rel="shortcut icon" href="https://pandao.github.io/editor.md/favicon.ico" type="image/x-icon" />
    </head>
    <body>
        <div id="layout">
            <form method="post" action="{%$homeUrl%}site/add">
                <div id="test-editormd" style="margin-top:20px;">
                    <textarea style="display:none;"><!--
author: 许萍
date: 2015-11-20
title: 文档
tags: 中文文档
category: 中文文档
status: publish
summary: Wavephp框架，轻量PHP框架，MVC分离，快速开发项目
--></textarea>
                </div>
                <div style="width:90%;margin: 10px auto;">
                    <button type="button" style="padding: 5px;" onclick="javascript:history.back(-1)">返回</button>
                    <input type="submit" name="submit" value="提交表单" style="padding: 5px;"/>
                </div>               
            </form>
        </div>        
        <script src="{%$baseUrl%}/resouce/js/jquery.min.js"></script>
        <script src="{%$baseUrl%}/resouce/js/editormd.js"></script>   
        <script type="text/javascript">
            $(function() {
                var testEditor = editormd("test-editormd", {
                    width  : "90%",
                    height : 640,
                    path   : "{%$baseUrl%}/resouce/lib/",
                    saveHTMLToTextarea : true
                });
            });
        </script>
    </body>
</html>