/*
 * Style tweaks
 * --------------------------------------------------
 */
html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
  font-family: "微软雅黑";
}
footer {
  padding: 30px 0;
}

#back-top {
    bottom: 30px;
    position: fixed;
    right: 30px;
    text-align: center;
    z-index: 9999;
}
#back-top a {
    background: rgba(0, 0, 0, 0) url("../images/top-link.png") repeat scroll 0 0;
    display: block;
    height: 45px;
    text-decoration: none;
    transition: all 2s ease 0s;
    width: 45px;
}

/*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width: 767px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all .25s ease-out;
         -o-transition: all .25s ease-out;
            transition: all .25s ease-out;
  }

  .row-offcanvas-right {
    right: 0;
  }

  .row-offcanvas-left {
    left: 0;
  }

  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -50%; /* 6 columns */
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -50%; /* 6 columns */
  }

  .row-offcanvas-right.active {
    right: 50%; /* 6 columns */
  }

  .row-offcanvas-left.active {
    left: 50%; /* 6 columns */
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 50%; /* 6 columns */
  }
}

h1, .h1, h2, .h2, h3, .h3 {
    margin-bottom: 10px;
    margin-top: 20px;
}
h2, .h2{ font-size: 22px;}
.post-title{ font-size: 26px; font-weight: 600;}
.post-content{ margin-top: 15px;}
p{ line-height: 25px;}
.r-main{ padding: 0 10px;}
h5,.h5{ font-weight: 600;}