{%include file="layout/debuger.html"%}
<!-- <p id="back-top" style="display: block;">
    <a href="javascript:;"></a>
</p> -->
<script type="text/javascript">
    $(function () {
        $("table").addClass('table table-bordered');

        // // hide #back-top first
        // $("#back-top").hide();

        // // fade in #back-top
        // $(window).scroll(function () {
        //     if ($(this).scrollTop() > 400) {
        //         $('#back-top').fadeIn();
        //     } else {
        //         $('#back-top').fadeOut();
        //     }
        // });

        // // scroll body to 0px on click
        // $('#back-top a').click(function () {
        //     $('body,html').animate({
        //         scrollTop: 0
        //         }, 800);
        //     return false;
        // });
    });

var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?e9d775b9e7b2db34d7ea5daf90a88691";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>

</body>
</html>