<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{%$title%}</title>
<link type="text/css" rel="stylesheet" href="{%$baseUrl%}/resouce/bootstrap/css/bootstrap.min.css"/>
<link type="text/css" rel="stylesheet" href="{%$baseUrl%}/resouce/css/admin.css"/>
<script type="text/javascript" src="{%$baseUrl%}/resouce/dataTables/media/js/jquery.js"></script>
<script type="text/javascript" src="{%$baseUrl%}/resouce/bootstrap/js/bootstrap.min.js"></script>
<script src="{%$baseUrl%}/resouce/dataTables/media/js/jquery.dataTables.min.js"></script>
<script src="{%$baseUrl%}/resouce/dataTables/media/js/dataTables.bootstrap.js"></script>
</head>
<body>