{%include file="layout/header.html"%}
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <form  id="form-modify" class="form-horizontal" action="{%$homeUrl%}users/modified" method="POST" onsubmit="return checkForm()">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    {%if $data.userid%}修改{%else%}添加{%/if%}用户
                </h3>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label for="username" class="col-sm-2 control-label">用户姓名</label>
                    <div class="col-sm-10">
                        <input class="form-control" name="username" id="username" type="text" value="{%$data.username%}" placeholder="请输入用户姓名">
                        <input type="hidden" name="userid" value="{%$data.userid%}">
                    </div>
                </div>
                <div class="form-group">
                    <label for="email" class="col-sm-2 control-label">邮箱</label>
                    <div class="col-sm-10">
                        <input class="form-control" name="email" id="email" type="email" value="{%$data.email%}" placeholder="请输入邮箱">
                        <input type="hidden" name="oldemail" value="{%$data.email%}">
                    </div>
                </div>
                <div class="form-group">
                    <label for="password" class="col-sm-2 control-label">密码</label>
                    <div class="col-sm-10">
                        <input class="form-control" name="password" id="password" type="password" placeholder="请输入密码">
                    </div>
                </div>
                <div class="form-group">
                    <label for="title" class="col-sm-2 control-label">激活</label>
                    <div class="col-sm-10">
                        <label class="radio-inline">
                            <input type="radio" name="is_active" value="1" {%if $data.is_active==1%}checked{%/if%}> 是
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="is_active" value="0" {%if $data.is_active==0%}checked{%/if%}> 否
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label"></label>
                    <div class="col-sm-10">
                        <button type="button" class="btn btn-default m-right100" onclick="javascript:history.go(-1);">
                                返回
                        </button>
                        <button type="submit" class="btn btn-primary" id="save">提交</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<script type="text/javascript">
var checkForm = function(){
    var username = $("#username").val();
    if (!username) {
        alert("请输入用户姓名！");
        return false;
    }

    var email = $("#email").val();
    if (!email) {
        alert("请输入邮箱！");
        return false;
    }

    {%if !$data.userid%}
    
    var password = $("#password").val();
    if (!password) {
        alert("请输入密码！");
        return false;
    }
    {%/if%}

    return true;
}
</script>
{%include file="layout/footer.html"%}