<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>游戏管理后台wiki</title>
<link type="text/css" rel="stylesheet" href="{%$app->request->baseUrl%}/resouce/bootstrap/css/bootstrap.min.css"/>
<link type="text/css" rel="stylesheet" href="{%$app->request->baseUrl%}/resouce/css/offcanvas.css"/>
<script type="text/javascript" src="{%$app->request->baseUrl%}/resouce/js/jquery.min.js"></script>
<script type="text/javascript" src="{%$app->request->baseUrl%}/resouce/bootstrap/js/bootstrap.min.js"></script>
<link href="{%$app->request->baseUrl%}/resouce/google-code-prettify/tomorrow-night-eighties.css" rel="stylesheet" type="text/css" media="all">
<script src="{%$app->request->baseUrl%}/resouce/google-code-prettify/prettify.js"></script>
<script type="text/javascript">
    $(function(){
        $("pre").addClass("prettyprint");
        prettyPrint();
    })
</script>
</head>
<body>